body {
  background-image: url(https://getwallpapers.com/wallpaper/full/5/a/e/74906.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
p {
  text-align: center;
}
.main_container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
  text-align: center;

}

.menu ul, .content ul {
  list-style-type: none;
  margin: 0;
  padding: 10vh 0;
}

.menu li {
  height: 8vh;
  font-size: 3.5vw;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

.page:active, .page:hover, .social:active, .social:hover {
  border: .5vh;
  border-style:groove;
  border-color: black;
}



.profile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  min-width: 20vw;
  min-height: 100vh;
  background-color: rgba(100, 10, 136, .5);
}

.profile h1, #profilePhoto {
  width: 20vw;
}

#profilePhoto{
  border-radius: 50%;
}

.social{
  width: 8vw;
  height: 5vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0 5vh;
  height: 60vh;
  font-weight: bolder;
  text-shadow: 1px 1px rgb(2, 2, 2);
}

.content li {
  text-shadow: .1vw .1vh rgb(0, 0, 0);
}

.content li img {
  width: 3vw;
  height: 2vh;
}

#mission {
  font-size: 3vh;
  color: whitesmoke;
  margin-top: 1vh;
}
#quote {
  font-size: 2.5vh;
  color: rgb(27, 105, 27);
}

.aboutMe.content {
  min-height: 100vh;
  justify-content: space-around;

}

.aboutMe.content {
  text-shadow: 0.2vh 0.2vw black;
}
.aboutMe.content h1, .aboutMe.content h2{
  text-decoration: underline;
  margin-bottom: 0;
}

.aboutMe.content ul {
  padding: 0;
  text-align: center;
}
